{{ template "chart.header" . }}

{{ template "chart.deprecationWarning" . }}

{{ template "chart.versionBadge" . }}{{ template "chart.typeBadge" . }}{{ template "chart.appVersionBadge" . }}

{{ template "chart.description" . }}. This chart is usually invoked by the [spotctl](https://github.com/spotinst/spotctl) tool, but may also be run manually.

## Prerequisites

| Repository                 | Name           | Version    | Notes                                                                                                                                                                                                                                               |
| -------------------------- | -------------- | ---------- | --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
| https://charts.jetstack.io | `cert-manager` | `>= 1.0.4` | [Cert Manager](https://cert-manager.io/) must be installed before the Wave Operator, as several components depend on certificate request. It is not necessary to use the `cert-manager` Helm chart, if some other installation method is preferred. |

## Installation

1. Add the Spot Helm chart repository:

```sh
helm repo add spot https://charts.spot.io
```

2. Update your local Helm chart repository cache:

```sh
helm repo update
```

3. Install `{{ template "chart.name" . }}`:

```sh
helm install my-release spot/{{ template "chart.name" . }} [...]
```

> NOTE: Please configure all required chart values using the `set` command line argument or a `values.yaml` file.

{{ template "chart.requirementsSection" . }}

{{ template "chart.valuesSection" . }}

{{ template "helm-docs.versionFooter" . }}
