namespace: kube-system

oceanController:
  # -- (Optional) Secret name.
  secretName: spotinst-kubernetes-cluster-controller
  # -- (Optional) ConfigMap name.
  configMapName: spotinst-kubernetes-cluster-controller-config

image:
  # -- (Optional) Image repository.
  repository: public.ecr.aws/spotinst/spot-network-client
  # -- (Optional) Image pull policy.
  pullPolicy: Always
  # -- (Optional) Image pull secrets.
  pullSecrets: []
  # -- (Optional) Image tag. Defaults to `.Chart.AppVersion`.
  tag: ""

# -- (Optional) Resource requests and limits.
# Ref: http://kubernetes.io/docs/user-guide/compute-resources/
resources:
  requests:
    cpu: 10m
    memory: 100Mi
  limits:
    cpu: 300m
    memory: 500Mi

# -- (Optional) Tolerations - Enable pods to run an all nodes in cluster
# Ref: https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/
tolerations:
  - operator: "Exists"

