apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ include "ocean-network-client.name" . }}
  namespace: {{ include "ocean-network-client.namespace" . }}
spec:
  selector:
    matchLabels:
      {{- include "ocean-network-client.daemon-set.labels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "ocean-network-client.daemon-set.labels" . | nindent 8 }}
    spec:
      hostNetwork: true
      nodeSelector:
        {{- include "ocean-network-client.node-selector.labels" . | nindent 8 }}
      volumes:
        - name: varlog
          hostPath:
            path: /var/log
      serviceAccountName: {{ include "ocean-network-client.name" . }}
      terminationGracePeriodSeconds: 30
      containers:
        - name: {{ include "ocean-network-client.name" . }}
          image: {{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}
          securityContext:
            privileged: true
            capabilities:
              drop: ["all"]
              add: [ "NET_ADMIN", "SYS_ADMIN"] # bpf need SYS_ADMIN network netlink need NET_ADMIN
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: varlog
              mountPath: /var/log
          env:
            - name: REPORT_INTERVAL
              value: "60"
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: SPOTINST_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ include "ocean-network-client.secretName" . }}
                  key: token
                  optional: true
            - name: SPOTINST_ACCOUNT
              valueFrom:
                secretKeyRef:
                  name: {{ include "ocean-network-client.secretName" . }}
                  key: account
                  optional: true
            - name: SPOTINST_TOKEN_LEGACY
              valueFrom:
                configMapKeyRef:
                  name: {{ include "ocean-network-client.configMapName" . }}
                  key: spotinst.token
                  optional: true
            - name: SPOTINST_ACCOUNT_LEGACY
              valueFrom:
                configMapKeyRef:
                  name: {{ include "ocean-network-client.configMapName" . }}
                  key: spotinst.account
                  optional: true
            - name: CLUSTER_IDENTIFIER
              valueFrom:
                configMapKeyRef:
                  name: {{ include "ocean-network-client.configMapName" . }}
                  key: spotinst.cluster-identifier
                  optional: true
